<div class = "container burger-wrapper">
    <div class = "row">
        <div class = "col-md-12 text-center" id="top-nav-bar">
            <img src = "/assets/img/hamburger.png" id = "burger-img" alt = "burger" />
            <h1 id="Vito-title">Vito's Hamburger Heaven</h1>
        </div>

        <div class = "col-md-6 text-center burgers-to-eat" class = "burger-div-1">
            <div class = "row">
                <h2 id="burger-eat">Burgers to Eat!</h2>
            </div>
            <div class = "row">
                    <ul id="list-o-burgers">
                        {{#each burgers}}
                            {{#unless devoured}}
                                <li>
                                    <p>{{id}}. {{burger_name}} <button class = "devour" data-burgerid ="{{id}}"> EAT IT!</button></p>
                                </li>
                            {{/unless}}
                        {{/each}}
                    </ul>
            </div>
        </div>

        <div class = "col-md-6 text-center burgers-eaten" class = "burger-div-2">
            <div class = "row">
                <h2 id="burgers-eaten">Burgers in the Belly!</h2>
            </div>
            <div class = "row">
                    <ul id="list-o-eaten-burgers">
                        {{#each burgers}}
                            {{#if devoured}}
                                <li>
                                    <p>{{id}}. {{burger_name}}</p>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
            </div>
        </div>
    </div>

    <div class = "container" id="form-bottom">
        <div class = "row">
            <div class = "col-md-12 text-center enter_selection" id="bottom-nav-bar">
                <form action= "/burgers/create" method = "POST">
                    <input type="text" class="form-control" id="fillable-field" name="burger_name" value = "" id + "enter_burger">
                    <button type = "submit" class="btn btn-primary" id="burger-input"><strong>Add a Burger</strong></button>
                </form>
                <p><strong>Enter a burger you want to eat, then click the 'Add a Burger' button.</strong></p>
            </div>
        </div>
    </div>
</div>