<div class = "container">
    <div class = "row">
        <div class = "col-md-12 text-center" id="top-nav-bar">
            <img src = "../public/assets/img/hamburger.png" alt = "burger" />
            <h1>EAT DA BURGER!</h1>
        </div>
        <div class = "col-md-6 text-center" class = "burgers-to-eat">
            <div class = "row">
                <h2>Burger to Eat!</h2>
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <li>
                                    <p>{{id}}. {{burger_name}} <button class = "eat-it" data-burgerid ="{{id}}"> EAT IT!</button></p>
                                </li>
                            {{/unless}}
                        {{/each}}
                    </ul>
            </div>
        </div>

        <div class = "col-md-6 text-center" class = "burgers-eaten">
            <div class = "row">
                <h2>Burgers in the Belly!</h2>
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <li>
                                    <p>{{id}}. {{burger_name}}</p>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-12 text-center enter_selection">
                <form action= "/burgers/create" method = "POST">
                    <input type="text" class="form-control" name = "burger name" value = "" id + "enter_burger">
                    <button type = "submit" class="btn btn-primary" id="burger input">Add a Burger</button>
                </form>
                <p>Enter a burger you want to eat, then click the 'Add a Burger' button.</p>
            </div>
        </div>
    </div>

</div>